/**
 * Fonts settings
 */
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-family-secondary: 'Roboto', Arial, sans-serif !default;

$fonts: (
	secondary: (
		family: $font-family-secondary,
		cap-height: .722,
		x-height: .528
	),
);
